# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Basic files settings
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# C and C++ indentation
[*.{c,cpp}]
indent_style = space

# CodeBlocks project file indentation
[*.cbp]
indent_style = tab

